<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projetoTESTEWIN.Properties.Settings.projetowinConnectionString"
            connectionString="server=localhost;user id=root;password=senha;persistsecurityinfo=True;database=projetowin"
            providerName="MySql.Data.MySqlClient" />
        <add name="projetoTESTEWIN.Properties.Settings.projetowinConnectionString1"
            connectionString="server=localhost;user id=username;password=password;persistsecurityinfo=True;database=projetowin"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>